.header{
    margin-top: 0;
    background-color: #ffbbc4;
    height: 400px;
    display: flex;
    color: #850012;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.header h1{
    padding-top: 150px;
    text-align: center;
}