.footer {
    background-color: #580109;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  
  .footer-text {
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
  }